<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="icon" href="images/logo/logo.png">
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <header>
        <h1><i>FramelinK</i></h1>
        <ul>
            <li class="content-container">About Us<div class="content">
                <a href="#">Who are we</a>
                <a href="#">What do we do</a>
                <a href="#">For which reason ?</a>
            </div></li>
            <li class="content-container">Our projects<div class="content">
                <a href="#">Roblox</a>
                <a href="#">Scratch / Turbowarp</a>
            </div></li>
            <li class="content-container">About Us<div class="content">
                <a href="#">1</a>
                <a href="#">1</a>
                <a href="#">1</a>
            </div></li>
            <li class="content-container">About Us<div class="content">
                <a href="#">1</a>
                <a href="#">1</a>
                <a href="#">1</a>
            </div></li>
        </ul>
    </header>
    <main>
        <article>
            <h2>This is a header !</h2>
            <section id="s1">
                <h3>Mini header !</h3>
                <img src="" alt="This is an image">
                <p>
                    This is a paragraph
                </p>
            </section>
            <section id="s2">
                <h3>Mini header !</h3>
                <img src="" alt="This is an image">
                <p>
                    This is a paragraph
                </p>
            </section>
            <section id="s3">
                <h3>Mini header !</h3>
                <img src="" alt="This is an image">
                <p>
                    This is a paragraph
                </p>
            </section>
        </article>
    </main>
    <footer>
        <fieldset>
            <legend><i>Links</i></legend>
            <a href="https://www.youtube.com/@FrameLink2026"  id="youtubeLink"><img src="images/logo/links/toppng.com-youtube-logo-png-white-1998x1530.png" alt="" width="50"></a>
            <a href="https://discord.gg/BZNUKTEsCd" id="discordLink"><img src="images/logo/links/discord-white-icon.webp" alt="Discord" width="50"></a>
        </fieldset>
    </footer>
</body>
</html>
