* {
    margin: 0;
    padding: 0;
}
/* Header */
header {
    background-color: bisque;
    box-shadow: 5px 5px 5px black;
}

header ul {
    display: flex;
    justify-content: space-evenly;
}
/* Links Dropdowns */
.content-container{
    position: relative;
}
.content{
    display: none;
    position: absolute;
    background-color: aqua;
}
.content-container:hover .content{
    display: block;
}
/* Main */
main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

main article{
    background-color: burlywood;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

main article h2{
    order: 1;
    grid-column: span 2;
    grid-row: 1;
    text-align: center;
}

#s1{
    order: 2;
    grid-row: 2;
    grid-column: 1;
}
#s2{
    order: 3;
    grid-row: 2;
    grid-column: 2;
}
#s3{
    order: 4;
    grid-row: 3;
    grid-column: span 2;
}

footer {
    background-color: bisque;
    box-shadow: -5px -5px 5px black;
}

footer fieldset {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

footer fieldset legend{
    text-align: center;
}

footer fieldset a {
    background-color: black;
    transition: ease-in-out 0.25s;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    align-content: center;
}

a#youtubeLink:hover {
    background-color: rgb(205, 32, 31);
}

a#discordLink:hover {
    background-color: rgb(88, 101, 242);
}
