<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="icon" href="images/logo/logo.png">
    <link rel="stylesheet" href="template.css">
</head>
<body>
    <header>
        <h1><i>FramelinK</i></h1>
        <div>
            <a href="#">[link 1]</a>
            <a href="#">[link 2]</a>
            <a href="#">[link 3]</a>
            <a href="#">[link 4]</a>
        </div>
    </header>
    <main>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et rem voluptate atque repudiandae, ab maiores maxime dicta eos, earum sint animi numquam assumenda odit minima? Nihil numquam nostrum beatae ea!0
    </main>
    <footer>
        links
        <div>
            <a href="https://www.youtube.com/@FrameLink2026"  id="youtubeLink"><img src="images/logo/links/toppng.com-youtube-logo-png-white-1998x1530.png" alt="" width="50"></a>
            <a href="#" id="discordLink"><img src="images/logo/links/discord-white-icon.webp" alt="" width="50"></a>
        </div>
    </footer>
</body>
</html>